/*

Thin HTML5 Coming Soon Template by MediaLoot
URL: http://medialoot.com/item/thin-html5-coming-soon-template

Designer: Tony Thomas

*/

/*Styles*/

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; padding: 0;
    height: 100%;
    font-size: 14px;
    color: rgba(3, 3, 3, .75);
    border-color: rgba(3, 3, 3, .75);
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}

body {
    background-color: #444;
    background-image: url(../img/bg.jpg);
}

::selection {
    background: rgba(0,0,0,0.25);
}

header {
    padding: 20px 0;
    background: #fff;
    background-color: rgba(0, 0, 0, .25);
}

.footer {
    position: absolute;
    bottom:	0;
    width: 100%;
    margin: 0 auto;
}

div.footer a, ul a, a.clear{
    text-decoration: none;
    color: unset;
}

.wrapper {
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}

h1 {
    margin: 60px auto;
    text-align: center;
    font-weight: 100;
    font-size: 56px;
}

h2 {
    font-size: 58px;
    width: 90%;
    text-align: center;
    margin: 100px auto 20px;
    font-weight: 100;
}

h3 {
    font-size: 42px;
    width: 90%;
    color: #000;
    text-align: center;
    margin: 100px auto 20px;
    font-weight: 100;
}

p {
    text-align: center;
    width: 90%;
    margin: 20px auto;
    line-height: 1.6;
    font-weight: 200;
    font-size: 18px;
}

ul.count {
    margin: 60px auto;
    display: block;
    text-align: center;
}
ul.count li {
    display: inline-block;
    height: 80px;
    margin: 0 5px 15px 5px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-border-radius: 499px;
    -moz-border-radius: 499px;
    border-radius: 499px;
    font-weight: 200;
    width: 130px;
    height: 100px; padding-top: 30px;
    border: 1px solid;
}
ul.count li span {
    display: block;
    font-size: 46px;
    font-weight: 100;
}

.connect {
    width: 100%;
    margin: 100px 0;
}

.connect form {
    margin-top: 10px;
    width: 480px;
    margin: 0 auto;
}
.connect form input[type=text] {
    width: 338px;
    height: 46px;
    border-right: none;
    background: none;
    -webkit-border-top-left-radius: 99px; -webkit-border-bottom-left-radius-radius: 99px;
    -moz-border-radius-topleft: 99px; -moz-border-radius-bottomleft: 99px;
    border-top-left-radius: 99px; border-bottom-left-radius: 99px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 20px;
    color: #333;
    font-weight: 200;
    float: left;
    opacity: 0.65;
    border: 1px solid #000;
}

.connect form input[type=text]:hover {
    opacity: 0.8;
}

.connect form input[type=text]:focus {
    outline: none;
    opacity: 1;
}

.connect form input[type=button], form input[type=submit] {
    width: 119px;
    height: 48px;
    border: none;
    cursor: pointer;
    -webkit-border-top-right-radius: 99px; -webkit-border-bottom-right-radius-radius: 99px;
    -moz-border-radius-topright: 99px; -moz-border-radius-bottomright: 99px;
    border-top-right-radius: 99px; border-bottom-right-radius: 99px;
    margin: 0; padding: 0;
    font-size: 14px;
    font-weight: bold;
    float: left;
    opacity: 0.65;
    background-color: #333;
    color: #000;
}

.connect form input[type=button]:hover, form input[type=submit]:hover {
    opacity: 1;
}

.connect form input[type=button]:active, form input[type=submit]:active {
    opacity: 0.8;
}

.connect ul {
    width: 440px;
    text-align: center;
    display: block;
    margin: 60px auto 20px auto;
}

.connect ul li a {
    width: 48px;
    height: 48px;
    display: block;
    text-indent: -499px;
    overflow: hidden;
    opacity: 0.65;
    -webkit-border-radius: 499px;
    -moz-border-radius: 499px;
    border-radius: 499px;
    margin: 0 5px;
    border: 1px solid #000;
}

.connect ul li a:hover {
    opacity: 1;
}

.connect ul li a:active {
    opacity: 0.8;
}

.connect ul li a {
    border: 1px solid #000;

}


.connect ul li.facebook a {background: url(../img/connect-facebook.png) no-repeat center;}
.connect ul li.twitter a {background: url(../img/connect-twitter.png) no-repeat center;}
.connect ul li.google a {background: url(../img/connect-google.png) no-repeat center;}
.connect ul li.instagram a {background: url(../img/connect-instagram.png) no-repeat center;}
.connect ul li.sharethis a {background: url(../img/connect-sharethis.png) no-repeat center;}

@media only screen and (max-width : 960px) {
    .wrapper {
        width: auto;
    }
    .connect {
        display: block;
        float: none;
        width: 348px;
        margin: 50px auto;
    }
    .connect form {
        width: 100%;
    }
    .connect form input[type=text]{
        width: 206px;
    }
    .connect ul {
        width: 340px;
    }
}

@media only screen and (max-width : 480px) {
    h1, ul.count {
        margin: 20px auto;
    }
    h2 {
        margin: 40px auto;
    }
}

/*Fade In Animation*/

h1, ul.count, h2, p, form, .connect {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to   {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}​

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}​


 ul.count li.bg {
     background: #000 url(../img/bg.jpg) center / contain no-repeat;
     background-size: cover;
 }


ul.count li.dynamic {
    background: #000 url(../img/bg-dynamic.jpg) center / contain no-repeat;
    background-size: cover;
}

ul.count li.day {
    background: #000 url(../img/bg-day.jpg) center / contain no-repeat;
    background-size: cover;
}


ul.count li.night {
     background: #000 url(../img/bg-night.jpg) center / contain no-repeat;
    background-size: cover;
 }
